<body>
    <div class="show-title"><strong>Title: </strong><%= @book.title %></div>
    <div class="show-body"><strong>Body: </strong><%= @book.body %></div>

    <div class="show-link">
        <%=link_to "Edit", edit_book_path(params[:id]), class:"link" %>
         |
        <%=link_to "Back", books_path, class:"link" %>
    </div>

</body>