  <body>
    <h1 class="heading">ようこそ
      <span class="bookers-title"> Bookers </span>へ！
    </h1>

    <div class="bookers-description-box">
      <p class="bookers-description">
        <span class="bookers-title-in-box">Bookers</span>
        では、さまざまな書籍に関するあなたの意見や、</p>
      <p class="bookers-description">印象を共有し、交換することができます。</p>
      <%= link_to "start", books_path, class:"home-link" %>
    </div>
  </body>
</html>